.drop-panel {
  background: #efefef;
  overflow: hidden;
  border-radius: 5px;
  .drop-panel-header {
    position: relative;
    height: 42px;
    line-height: 42px;
    padding-right: 32px;
    padding-left: 16px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    .img-icon {
      position: absolute;
      top: 50%;
      right: 16px;
      transform: translateY(-50%);
    }
  }
  .drop-panel-content {
    min-height: 42px;
  }
}
